<!DOCTYPE html>
<html>
<head>
  <title>CaptivaterApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
<footer>
  <div class="container">
    <div class="row1">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <br>
        <h4>Designed by <a href="https://github.com/ksurdhar" target="_blank">Kiran Surdhar</a></h4>
      </div>
    </div>
  </div>
</footer>
</html>
